.btn {
    margin-left: 15px;
}

.listItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    padding: 6px;
}

.listItems:hover {
    background-color: #105e0044;
    border-radius: 8px;
    transition: 0.13s;
}

.close{
    color: gray;
    text-decoration: line-through;
}